extends layout

block content
  h1 Chats 
    small Follow a link to an existing chat or start a new one!
  .row
    .col-md-6(ng-controller='chatController')
      .panel.panel-default
        .panel-body
          label(for='search-input') Show only chats containing
          input#search-input.form-control(
            ng-model='searchInput'
            type='text'
            placeholder='Case-insensitive regular expression'
          )
      .panel.panel-default
        .panel-heading Chats{{ containingText }}
        table.table
          thead
            tr
              th Topic
              th Started by
              th Last message
              th Messages (Unread / Total)
          tr(ng-repeat='chat in chats')
            td 
              a(href='{{ chat.url }}') {{ chat.topic }}
            td {{ chat.startedBy }}
            td {{ chat.lastMessageDate | formatDate }}
            td {{ chat.unread }} / {{ chat.messages }}
    .col-md-6
      .panel.panel-default
        .panel-heading New Chat
        .panel-body
          form(action='/chats' method='post')
            .form-group
              label(for='topic-name') Topic
              input#topic-name.form-control(
                name='topic'
                type='text'
                placeholder='What would you like to chat about?'
              )
            button.btn.btn-default(type='submit') Create Chat!
